/* Gray palette */

$gray-100: #222823;
$gray-200: #575a5e;
$gray-300: #a7a2a9;
$gray-400: #f4f7f5;
$black-100: #08090a;
$white-100: #ffffff;

/* Colors palette */

$primary: #0d1b2a !default;
$secondary: #1b263b !default;
$success: #415a77 !default;
$info: #778da9 !default;
$warning: #e4ff1a !default;
$danger: #c42021 !default;